---
stages:
  - setup
  - install
  - deploy
  - generic-experiment
  - infra-experiment
  - component checks
  - e2e-metrics
  - app-cleanup
  - cleanup

Cluster Connect:
  image: litmuschaos/litmus-e2e:latest
  stage: setup
  tags:
    - litmus-build
  script: 
    - chmod 755 ./build/gitlab/stages/3-cluster-connect/cluster-connect
    - ./build/gitlab/stages/3-cluster-connect/cluster-connect

  artifacts:
    when: always
    paths:
      - .kube/

Litmus Infra Setup:
  when: always
  image: litmuschaos/litmus-e2e:latest
  stage: install
  tags:
    - litmus-build
  script:
    - make build-litmus

  artifacts:
    when: always
    paths:
      - .kube/
    
Deploy App:
  when: always
  image: litmuschaos/litmus-e2e:latest
  stage: deploy
  tags:
    - litmus-build
  script:
    - make app-deploy

  artifacts:
    when: always
    paths:
      - .kube/

Liveness:
  when: always
  image: litmuschaos/litmus-e2e:latest
  stage: deploy
  tags:
    - litmus-build
  script:
    - make liveness

  artifacts:
    when: always
    paths:
      - .kube/

Auxiliary App:
  when: always
  image: litmuschaos/litmus-e2e:latest
  stage: deploy
  tags:
    - litmus-build
  script:
    - make auxiliary-app

  artifacts:
    when: always
    paths:
      - .kube/

TCID-VMWx-GENERIC-APP-POD-DELETE:
  when: always
  image: litmuschaos/litmus-e2e:latest
  stage: generic-experiment
  tags:
    - litmus-build
  script:
    - make pod-delete

  artifacts:
    when: always
    paths:
      - .kube/

TCID-VMWx-GENERIC-APP-CONTAINER-KILL:
  when: always
  image: litmuschaos/litmus-e2e:latest
  stage: generic-experiment
  tags:
    - litmus-build
  script:
    - make container-kill

  artifacts:
    when: always
    paths:
      - .kube/

TCID-VMWx-GENERIC-APP-POD-CPU-HOG:
  when: always
  image: litmuschaos/litmus-e2e:latest
  stage: generic-experiment
  tags:
    - litmus-build
  script:
    - make pod-cpu-hog

  artifacts:
    when: always
    paths:
      - .kube/

TCID-VMWx-GENERIC-APP-POD-MEMORY-HOG:
  when: always
  image: litmuschaos/litmus-e2e:latest
  stage: generic-experiment
  tags:
    - litmus-build
  script:
    - make pod-memory-hog

  artifacts:
    when: always
    paths:
      - .kube/

TCID-VMWx-GENERIC-APP-POD-NETWORK-CORRUPTION:
  when: always
  image: litmuschaos/litmus-e2e:latest
  stage: generic-experiment
  tags:
    - litmus-build
  script:
    - make pod-network-corruption

  artifacts:
    when: always
    paths:
      - .kube/

TCID-VMWx-GENERIC-APP-POD-NETWORK-LATENCY:
  when: always
  image: litmuschaos/litmus-e2e:latest
  stage: generic-experiment
  tags:
    - litmus-build
  script:
    - make pod-network-latency

  artifacts:
    when: always
    paths:
      - .kube/

TCID-VMWx-GENERIC-APP-POD-NETWORK-LOSS:
  when: always
  image: litmuschaos/litmus-e2e:latest
  stage: generic-experiment
  tags:
    - litmus-build
  script:
    - make pod-network-loss

  artifacts:
    when: always
    paths:
      - .kube/

TCID-VMWx-GENERIC-APP-DISK-FILL:
  when: always
  image: litmuschaos/litmus-e2e:latest
  stage: infra-experiment
  tags:
    - litmus-build
  script:
    - make disk-fill

  artifacts:
    when: always
    paths:
      - .kube/

TCID-VMWx-GENERIC-INFRA-NODE-CPU-HOG:
  when: always
  image: litmuschaos/litmus-e2e:latest
  stage: infra-experiment
  tags: 
    - litmus-build
  script:
    - make node-cpu-hog

  artifacts:
    when: always
    paths:
      - .kube/      

TCID-VMWx-GENERIC-INFRA-NODE-MEMORY-HOG:
  when: always
  image: litmuschaos/litmus-e2e:latest
  stage: infra-experiment
  tags:
    - litmus-build
  script:
    - make node-memory-hog

  artifacts:
    when: always
    paths:
      - .kube/

TCID-VMWx-GENERIC-INFRA-NODE-DRAIN:
  when: always
  image: litmuschaos/litmus-e2e:latest
  stage: infra-experiment
  tags:
    - litmus-build
  script:
    - make node-drain

  artifacts:
    when: always
    paths:
      - .kube/

TCID-VMWx-GENERIC-INFRA-KUBELET-SERVICE-KILL:
  when: always
  image: litmuschaos/litmus-e2e:latest
  stage: infra-experiment
  tags:
    - litmus-build
  script:
    - make kubelet-service-kill

  artifacts:
    when: always
    paths:
      - .kube/            

TCID-VMWx-GENERIC-CONTROL-OPERATOR-RECONCILE-RESILIENCY:
  when: always
  image: litmuschaos/litmus-e2e:latest
  stage: component checks
  tags:
    - litmus-build
  script:
    - make operator-reconcile-resiliency-check

  artifacts:
    when: always
    paths:
      - .kube/      

TCID-VMWx-GENERIC-CONTROL-ADMIN-MODE:
  when: always
  image: litmuschaos/litmus-e2e:latest
  stage: component checks
  tags:
    - litmus-build
  script:
    - make admin-mode-check

  artifacts:
    when: always
    paths:
      - .kube/      

e2e-metric:

  when: always
  image: litmuschaos/litmus-e2e:latest
  stage: e2e-metrics
  tags:
    - litmus-build
  script:
    - make e2e-metrics

  artifacts:
    when: always
    paths:
      - .kube/

App Cleanup:

  when: always
  image: litmuschaos/litmus-e2e:latest
  stage: app-cleanup
  tags: 
    - litmus-build
  script:
    - make app-cleanup 

  artifacts:
    when: always
    paths:
      - .kube/

Cluster Disconnect:

  when: always
  image: litmuschaos/litmus-e2e:latest
  stage: cleanup
  tags:
    - litmus-build
  script: 
    - chmod 755 ./build/gitlab/stages/4-cluster-disconnect/cluster-disconnect
    - ./build/gitlab/stages/4-cluster-disconnect/cluster-disconnect

  artifacts:
    when: always
    paths:
      - .kube/
