---
stages:
  - setup
  - install
  - deploy
  - generic-experiment
  - infra-experiment
  - push
  - app-cleanup
  - cleanup

Cluster Setup:

  stage: setup
  tags:
    - setup
  script: 
    - chmod 755 ./build/gitlab/stages/1-gke-setup/cluster-setup
    - ./build/gitlab/stages/1-gke-setup/cluster-setup

  artifacts:
    when: always
    paths:
      - .kube/

Litmus Infra Setup:

  stage: install
  tags:
    - setup
  script:
    - make install

  artifacts:
    when: always
    paths:
      - .kube/
    
Deploy App:

  stage: deploy
  tags:
    - setup
  script:
    - make deployapp

  artifacts:
    when: always
    paths:
      - .kube/

Liveness:

  stage: deploy
  tags:
    - setup
  script:
    - make liveness

  artifacts:
    when: always
    paths:
      - .kube/

Auxiliary App:

  stage: deploy
  tags:
    - setup
  script:
    - make auxiliaryapp

  artifacts:
    when: always
    paths:
      - .kube/

pod-delete:

  stage: generic-experiment
  tags:
    - experiment
  script:
    - make pod-delete

  artifacts:
    when: always
    paths:
      - .kube/

container-kill:

  stage: generic-experiment
  tags:
    - experiment
  script:
    - make container-kill

  artifacts:
    when: always
    paths:
      - .kube/

pod-network-latency:

  stage: generic-experiment
  tags:
    - experiment
  script:
    - make pod-network-latency

  artifacts:
    when: always
    paths:
      - .kube/

pod-network-loss:

  stage: generic-experiment
  tags:
    - experiment
  script:
    - make pod-network-loss

  artifacts:
    when: always
    paths:
      - .kube/

pod-network-corruption:

  stage: generic-experiment
  tags:
    - experiment
  script:
    - make pod-network-corruption

  artifacts:
    when: always
    paths:
      - .kube/

pod-cpu-hog:

  stage: generic-experiment
  tags:
    - experiment
  script:
    - make pod-cpu-hog

  artifacts:
    when: always
    paths:
      - .kube/

node-cpu-hog:

  when: always
  stage: infra-experiment
  tags: 
    - experiment
  script:
    - make node-cpu-hog

  artifacts:
    when: always
    paths:
      - .kube/

node-drain:

  when: always
  stage: infra-experiment
  tags:
    - experiment
  script:
    - make node-drain

  artifacts:
    when: always
    paths:
      - .kube/

disk-fill:

  when: always
  stage: infra-experiment
  tags:
    - experiment
  script:
    - make disk-fill

  artifacts:
    when: always
    paths:
      - .kube/

App Cleanup:

  when: always
  stage: app-cleanup
  tags: 
    - cleanup
  script:
    - make app-cleanup 

  artifacts:
    when: always
    paths:
      - .kube/

Cluster Cleanup:

  when: always
  stage: cleanup
  tags:
    - cleanup
  script: 
    - chmod 755 ./build/gitlab/stages/2-gke-cleanup/cluster-cleanup
    - ./build/gitlab/stages/2-gke-cleanup/cluster-cleanup

  artifacts:
    when: always
    paths:
      - .kube/



