---
stages:
  - setup
  - sampletest
  - cleanup

Cluster Connect:
  stage: setup
  tags:
    - litmus-portal
  script: 
    - chmod 755 ./build/gitlab/stages/3-cluster-connect/cluster-connect
    - ./build/gitlab/stages/3-cluster-connect/cluster-connect
  artifacts:
    when: always
    paths:
      - .kube/

Sample Task:
  when: always
  stage: sampletest
  tags:
    - litmus-portal
  script:
    - make sample-test
  artifacts:
    when: always
    paths:
      - .kube/

Cluster Disconnect:
  when: always
  stage: cleanup
  tags:
    - litmus-portal
  script: 
    - chmod 755 ./build/gitlab/stages/4-cluster-disconnect/cluster-disconnect
    - ./build/gitlab/stages/4-cluster-disconnect/cluster-disconnect
  artifacts:
    when: always
    paths:
      - .kube/  

