---
apiVersion: litmuschaos.io/v1alpha1
kind: ChaosEngine
metadata:
  name: {{ name }}
  namespace: litmus
spec:
  components:
    runner:
      image: "litmuschaos/chaos-runner:latest"
      type: "go"   
  jobCleanUpPolicy: delete
  engineState: 'active'
  monitoring: false
  appinfo: 
    appns: {{ a_ns }}
    # FYI, To see app label, apply kubectl get pods --show-labels
    applabel: {{ a_label }}
    appkind:  {{ a_kind }}
  chaosServiceAccount: {{ service_acc }}
  experiments:
    - name: {{ e_name }}
      spec:
        components:
          env:
          - name: RAMP_TIME
            value: '60'
{% if e_name is defined and e_name == 'pod-delete' %}
          - name: TOTAL_CHAOS_DURATION
            value: '30'
          - name: CHAOS_INTERVAL
            value: '10'
          - name: FORCE
            value: 'false'
{% elif e_name is defined and e_name == 'container-kill' %}
          - name: TARGET_CONTAINER
            value: 'nginx'
{% elif e_name is defined and e_name == 'pod-network-latency' %}
          - name: ANSIBLE_STDOUT_CALLBACK
            value: 'default'
          - name: TARGET_CONTAINER
            value: 'nginx' 
          - name: NETWORK_INTERFACE
            value: 'eth0'                   
          - name: LIB_IMAGE
            value: 'gaiaadm/pumba:0.6.5'
          - name: NETWORK_LATENCY
            value: '60000'
          - name: TOTAL_CHAOS_DURATION
            value: '60000'
          - name: LIB
            value: 'pumba'
{% elif e_name is defined and e_name == 'pod-network-loss' %}
          - name: ANSIBLE_STDOUT_CALLBACK
            value: 'default'
          - name: TARGET_CONTAINER
            value: 'nginx' 
          - name: NETWORK_PACKET_LOSS_PERCENTAGE
            value: '100' #in PERCENTAGE
          - name: TOTAL_CHAOS_DURATION
            value: '60000' #in ms
          - name: LIB
            value: 'pumba'
          - name: LIB_IMAGE
            value: 'gaiaadm/pumba:0.6.5'
{% elif e_name is defined and e_name == 'pod-network-corruption' %}
          - name: ANSIBLE_STDOUT_CALLBACK
            value: 'default'
          - name: TARGET_CONTAINER
            value: 'nginx' 
          - name: NETWORK_INTERFACE
            value: 'eth0'                   
          - name: LIB_IMAGE
            value: 'gaiaadm/pumba:0.6.5'
          - name: NETWORK_PACKET_CORRUPTION_PERCENTAGE
            value: '100'
          - name: TOTAL_CHAOS_DURATION
            value: '60000'
          - name: LIB
            value: 'pumba'
{% elif e_name is defined and e_name == 'node-cpu-hog' %}
          - name: TOTAL_CHAOS_DURATION
            value: '60'
          - name: PLATFORM
            value: 'GKE'
          - name: LIB
            value: 'litmus'
{% elif e_name is defined and e_name == 'pod-cpu-hog' %}
          - name: TARGET_CONTAINER
            value: 'nginx'
          - name: CPU_CORES
            value: '1' 
          - name: TOTAL_CHAOS_DURATION
            value: '90' 
{% elif e_name is defined and e_name == 'node-drain' %}
          - name: APP_NODE
            value: {{ app_node }}
{% elif e_name is defined and e_name == 'disk-fill' %}
          - name: FILL_PERCENTAGE
            value: '80'
          - name: TARGET_CONTAINER
            value: 'nginx'
{% endif %}

