name: Portal-E2E K3S Pipeline
on:
  workflow_dispatch:
    inputs:
      Tag:
        default: "ci"

      Module:
        default: "All"

# All Environments variables declared and set here.
env:
  TAG: "${{github.event.inputs.Tag}}"
  MODULE: "${{github.event.inputs.Module}}"
  SELF_AGENT: "self-agent"
  EXTERNAL_AGENT: "external-agent"

# Jobs for deploying and testing litmus-portal on a KinD Cluster
jobs:
  Cluster-Scope-Mode:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - uses: AbsaOSS/k3d-action@v1.4.0
        name: "Create 1st Cluster"
        with:
          cluster-name: ${{ env.SELF_AGENT }}
          args: --agents 1

      - name: Configuring and Testing the Cluster Installation
        run: |
          kubectl cluster-info --context k3d-${{ env.SELF_AGENT }}
          kubectl get nodes
          kubectl get pods -n kube-system

      - name: Deploying Litmus-Portal using **k8s-manifest**
        run: |
          chmod 755 ./litmus/install-portal.sh
          ./litmus/install-portal.sh
        env:
          PORTAL_VERSION: "ci"
          LOAD_BALANCER: "false"

      - uses: AbsaOSS/k3d-action@v1.4.0
        name: "Create 2nd Cluster"
        with:
          cluster-name: ${{ env.EXTERNAL_AGENT }}
          args: --agents 1

      - name: Configuring and Testing the Agent Installation
        run: |
          kubectl cluster-info --context k3d-${{ env.EXTERNAL_AGENT }}
          kubectl get nodes
          kubectl get pods -n kube-system

      - name: Installing LitmusCTL on Agent Cluster
        run: |
          curl -O https://litmusctl-bucket.s3-eu-west-1.amazonaws.com/litmusctl-linux-amd64-master.tar.gz
          tar -zxvf litmusctl-linux-amd64-master.tar.gz
          chmod +x litmusctl
          sudo mv litmusctl /usr/local/bin/litmusctl
          litmusctl version

      - name: Running basic tests (Login and Onboarding Tests)
        uses: cypress-io/github-action@v2
        continue-on-error: false
        with:
          spec: cypress/integration/Basic_Setup/**/*.spec.js
          working-directory: Cypress/
          config-file: cypress.prod.json
          env: true
        env:
          CYPRESS_BASE_URL: ${{ env.URL }}

      - name: Verifying the Control-plane components
        run: |
          kubectl config use-context k3d-${{ env.SELF_AGENT }}
          chmod 755 ./litmus/control-plane-components-check.sh
          ./litmus/control-plane-components-check.sh
        env:
          LITMUS_PORTAL_NAMESPACE: "litmus"

      - name: Running Parallel tests
        uses: cypress-io/github-action@v2
        if: always()
        continue-on-error: false
        with:
          spec: cypress/integration/Parallel_Tests/**/*.spec.js
          working-directory: Cypress/
          config-file: cypress.prod.json
          env: true
        env:
          CYPRESS_BASE_URL: ${{ env.URL }}

      # - name: Registering External Agent in Cluster Mode
      #   if: always()
      #   run: |
      #     kubectl config use-context k3d-${{ env.EXTERNAL_AGENT }}
      #     sudo apt-get install expect
      #     chmod 755 litmus/litmusctl-register.sh
      #     litmus/litmusctl-register.sh "$URL" 1

      # TODO: Additional Tests will be added from here

      - name: Portal Cleanup
        if: always()
        run: |
          kubectl config use-context k3d-${{ env.SELF_AGENT }}
          chmod 755 ./litmus/uninstall-portal.sh
          ./litmus/uninstall-portal.sh
        env:
          PORTAL_VERSION: "ci"

      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: cypress-screenshots
          path: Cypress/cypress/screenshots

  Namespaced-Scope-Mode:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - uses: AbsaOSS/k3d-action@v1.4.0
        name: "Create 1st Cluster"
        with:
          cluster-name: ${{ env.SELF_AGENT }}
          args: --agents 3

      - name: Configuring and Testing the Cluster Installation
        run: |
          kubectl cluster-info --context k3d-${{ env.SELF_AGENT }}
          kubectl get nodes
          kubectl get pods -n kube-system

      - name: Deploying Litmus-Portal using **k8s-manifest**
        run: |
          chmod 755 ./litmus/install-portal-namespaced.sh
          ./litmus/install-portal-namespaced.sh
        env:
          PORTAL_VERSION: "ci"
          LOAD_BALANCER: "false"
          PORTAL_NAMESPACE: "scope"
          LITMUS_PORTAL_NAMESPACE: "scope"

      - uses: AbsaOSS/k3d-action@v1.4.0
        name: "Create 2nd Cluster"
        with:
          cluster-name: ${{ env.EXTERNAL_AGENT }}
          args: --agents 3

      - name: Configuring and Testing the Agent Installation
        run: |
          kubectl cluster-info --context k3d-${{ env.EXTERNAL_AGENT }}
          kubectl get nodes
          kubectl get pods -n kube-system

      - name: Installing LitmusCTL on Agent Cluster
        run: |
          curl -O https://litmusctl-bucket.s3-eu-west-1.amazonaws.com/litmusctl-linux-amd64-master.tar.gz
          tar -zxvf litmusctl-linux-amd64-master.tar.gz
          chmod +x litmusctl
          sudo mv litmusctl /usr/local/bin/litmusctl
          litmusctl version

      - name: Running basic tests (Login and Onboarding Tests)
        uses: cypress-io/github-action@v2
        continue-on-error: false
        with:
          spec: cypress/integration/Basic_Setup/**/*.spec.js
          working-directory: Cypress/
          config-file: cypress.prod.json
          env: true
        env:
          CYPRESS_BASE_URL: ${{ env.URL }}

      - name: Verifying the Control-plane components
        run: |
          kubectl config use-context k3d-${{ env.SELF_AGENT }}
          chmod 755 ./litmus/control-plane-components-check.sh
          ./litmus/control-plane-components-check.sh
        env:
          LITMUS_PORTAL_NAMESPACE: "scope"

      - name: Running Parallel tests
        uses: cypress-io/github-action@v2
        if: always()
        continue-on-error: false
        with:
          spec: cypress/integration/Parallel_Tests/**/*.spec.js
          working-directory: Cypress/
          config-file: cypress.prod.json
          env: true
        env:
          CYPRESS_BASE_URL: ${{ env.URL }}

      # - name: Registering External Agent in Cluster Mode
      #   if: always()
      #   run: |
      #     kubectl config use-context k3d-${{ env.EXTERNAL_AGENT }}
      #     sudo apt-get install expect
      #     chmod 755 litmus/litmusctl-register.sh
      #     litmus/litmusctl-register.sh "http://localhost:3001" 1

      # TODO: Additional Tests will be added from here

      - name: Portal Cleanup
        if: always()
        run: |
          kubectl config use-context k3d-${{ env.SELF_AGENT }}
          chmod 755 ./litmus/uninstall-portal-namespaced.sh
          ./litmus/uninstall-portal-namespaced.sh
        env:
          PORTAL_VERSION: "ci"
          PORTAL_NAMESPACE: "scope"

      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: cypress-screenshots
          path: Cypress/cypress/screenshots
